body {
    background-color:#F0F0F0;
}

#container {
    background-color: #FFFFFF;
    width:1200px;
    height:100%;
    display:block;
    margin-right:auto;
    margin-left:auto;
}

#wrapper {
    min-height:1550px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

header li {
    float: left;
}

header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif;
}

header li a:hover {
    background-color: #111;
}

h1 {
    font-size:45px;
    font-family:sans-serif;
    border-bottom:3px solid;
    width:1000px;
    margin-left:20px;
    color:#353537;
}

h2 {
    font-family: sans-serif;
    margin-left:25px;
    color:#353537;
}

p {
    font-family: sans-serif;
}

#introduction {
    margin-top:50px;
    width:100%;
}

#introduction img {
    width: 450px;
    height: 350px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

#introduction section p{
    font-size: 18px;
    line-height: 1.6;
}

#travel {
    margin-top:200px;
    width:100%;
}

#travel img {
    width: 450px;
    height: 350px;
    float: right;
    margin-left: 20px;
    margin-right: 20px;
}

#travel section p {
    font-size: 18px;
    line-height: 1.6;
    margin-left:20px;
}

#programming {
    width:1160px;
    background-color:lightgray;
    margin-top:300px;
    padding:20px;
}

#programming h3 {
    font-family: 'Helvetica Neue', sans-serif;
    font-size:34px;
    text-align:center;
}

#programming ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#programming li {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif;
    font-size:25px;
    text-align: center;
}

#programming i {
    margin-left:10px;
}

.left {
    display: flex;
    margin-top:50px;
    width:100%;
    flex: 50%;
}

.left img {
    width: 350px;
    height: 300px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:20px;
}

.left p {
    font-size: 30px;
    line-height: 1.6;
    margin-left:20px;
    padding:80px 0 0 80px;
}

.right {
    display: flex;
    width:100%;
    flex: 50%;
}

.right img {
    width: 350px;
    height: 300px;
    float: right;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom:20px;
}

.right p {
    font-size: 30px;
    line-height: 1.6;
    margin-left:20px;
    padding:80px 0 0 80px;
}

.fa-home {
    margin-right:5px;
}

.fa-envelope {
    margin-right:5px;
}

.fa-phone {
    margin-right:5px;
}

.fa-school {
    margin-right:5px;
}

.fa-computer-classic {
    font-size:34px;
    color:black;
}

.fa-user {
    margin-right:5px;
}

footer {
    background-color:#353537;
}

footer section {
    display:inline-block;
    width:30%;
    height:200px;
    margin-left:30px;
}

footer section h2 {
    color:white;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size:24px;
}

footer section p {
    color:white;
    font-family: 'Helvetica Neue', sans-serif;
    margin-bottom:10px;
    font-size:22px;
}